html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   img, fieldset { border: 0; }
   ol { margin-left: 1.4em; list-style: decimal; }
   ul { margin-left: 1em; list-style:square; }
   q:before, q:after { content:''; }
   
   /* CARGA DE FUENTES */
   @font-face {
     font-family: "Prime-Regular";
     src: url("fuentes/Prime-Regular.otf");
   }

   h1{
       font-family: Prime-Regular,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       background-color: blueviolet;
       font-size: 50px;
   }

   body{
       background-color: chartreuse;
   }