
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
img, fieldset { border: 0; }
ol { margin-left: 1.4em; list-style: decimal; }
ul { margin-left: 1em; list-style:square; }
q:before, q:after { content:''; }

/* CARGA DE FUENTES */
@font-face {
  font-family: "Prime-Regular";
  src: url("/static/css/principal/fuentes/Prime-Regular.otf");
}

@font-face {
  font-family: "Prime-Light";
  src: url("/static/css/principal/fuentes/Prime-Light.otf");
}

html{
    background-color: #8f9091;
    background-image: url("/static/img/principal/Fondo.png");
}

body{
    margin:auto;
    background-color: white;
    width: 980px;
}

#principal{
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: 0px;
    margin-top:0px;
}

#encabezado{
  width: 978px;
  height: 120px;
  border-top:1px solid rgb(85, 85, 87);
  border-bottom:1px solid rgb(85, 85, 87);
  margin: auto;  
  margin-top:10px;
  background-image:url("/static/img/principal/Industria40.png");
  }


#nombreEmpresa{
  border:1px solid #ffffff;
  background-color: rgba(134, 157, 178,0.7);
  width: 200px;
  height: 80px;
  margin: 20px 0 0 20px;
  border-radius: 5px;
  text-shadow: 3px 2px 2px black;
  
}
#nombreEmpresa p{
  font-size: 4em;
  font-family: "Prime-Regular",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 5px;
  margin-top: 5px;
  color:#2a91f1;
  padding-left: 15px;
}

#nombreEmpresa span{
  font-size: .5em;
  font-family:"Prime-Light",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: -50px;
  margin-top: 2px;
}

img{
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 100px;
  margin-top: -30px;
  box-shadow: 4px 4px 5px black;
}

img:hover{
  transform:scale(1.25);
}

a{
  float:right;
}

h1{
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #2a91f1;
  margin:30px 30px 10px 30px;
  border-bottom:solid 1px  #2a91f1;
}

h2{
  font-size:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(85, 85, 87);
  width: 500px;
  margin-left:30px;
}
/* MENU */
#botones{
  background-color: coral;
  height: 100px;
  width: 500px;
}

.botonMenu{
  font-family:"Prime-Light",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  margin:0;
  margin-top:5px;
  padding: 7px;
  background-color: #2175bc ;
  border: 0px;
}

.botonElectricidad{
  font-family:"Prime-Light",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  margin-left: 10px;
  margin-top:5px;
  padding: 7px;
  background-color: white ;
  border: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#barraMenu{
  padding: 0px;
  margin: 0 0 0 0;
  background-color: #2175bc;
  height: 48px;
  
}

#barraMenu li{
  display: inline;
  background-color: #2175bc;
}

#barraMenu li a{
  font-size: 22px;
  text-decoration: none;
  float: left;
  padding: 10px;
  background-color: #2175bc;
  color: #fff;
  height: 26px;
}

#barraMenu a:hover{
  background-color: ivory;
  color:black;
}

#botonInicio{
  background-color: ivory;
  color:red;
}

#barraMenu #inicio{
  margin-left: 100px;
  color:red;
}

.parrafo{
  font-size: 1.1em;
  margin: 10px 20px 10px 30px;
  /*text-align: justify;*/
  color: rgb(85, 85, 87);
  text-indent: 20px;
  width: 600px;
  float:left;
}

.listaDerecha{
  width: 600px;
  font-size: 1.1em;
  margin: 30px 30px 20px 30px;
  text-align: justify;
  color: rgb(85, 85, 87);
  border: solid 2px black;
  padding-left: 50px;
  list-style-image: url("/static/img/principal/FlechaDerechaGris.png");
  line-height: 30px;
  margin-left: 240px;
  background-color: rgb(233, 233, 233);
  padding-right: 30px;
}

.listaIzquierda{
  width: 500px;
  font-size: 1.1em;
  margin: 20px 30px 20px 100px;
  text-align: justify;
  color: rgb(85, 85, 87);
  border: solid 2px black;
  list-style: none;
  line-height: 30px;
  list-style-image: url("/static/img/principal/FlechaDerechaGris.png");
  padding-right: 30px;
  padding-left: 50px;
  background-color: rgb(233, 233, 233);
}

ul li{
  list-style: none;
  text-decoration: underline;
}

.fotoDerecha{
  float:right;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding-left: 10px;
  margin-right: 80px;
}

.fotoIzquierda{
  float:left;
  width: 150px;
  height: 150px;
  margin: 0 0 0 40px;
  padding-left: 10px;
}

.caracteristicas{
  font-size: 1.3em;
  margin: 20px 0px 20px 0px;
  /*text-align: justify;*/
  color: black;
  text-indent: 80px;
  line-height: 35px;
  font-style: italic;
  background-color:#2a91f1;
}

.pie{
  background-color: rgb(75, 73, 73);
  color:white;
  border-left: black;
  border-right: black;
}
.pie p{
  margin: 10px 0px 10px 30px;
  font-size: 20px;
}

.pie hr{
  color:white;
  background-color:rgb(75, 73, 73) ;
  margin: 0px;
}

.pie span{
  margin-left: 520px;
}

